@model Agents.ViewModels.AgentView.AgentViewModel


<p>Agent Code: @Model.agent.agentCode</p>
<p>Name: @Model.agent.name</p>
<p>Working Area: @Model.agent.workingArea</p>
<p>Commission: @Model.agent.commission</p>
<p>Phone Number: @Model.agent.phoneNumber</p>