@model Agents.ViewModels.AgentView.AgentViewModel

<p>Agent Code: @Model.agent.agentCode</p>
<p>Name: @Model.agent.name</p>
<p>Working Area: @Model.agent.workingArea</p>
<p>Commission: @Model.agent.commission</p>
<p>Phone Number: @Model.agent.phoneNumber</p>

<form id="delete-form" method="post" action="/Home/DeleteAgent/@Model.agent.agentCode">
    <button id="delete-btn" type="submit">Delete</button>
</form>
