@{
    ViewData["Title"] = "Home Page";
}
@model Agents.ViewModels.Home.HomeViewModel

<div>
    <table>
        <tr>
            <th>Agent Code</th>
            <th>Name</th>
            <th>Working Area</th>
            <th>Commission</th>
            <th>Phone Number</th>

        </tr>

        @foreach (var agent in Model.Agents)
        {

            <tr>
                <td><a href='@("/Home/Agent/"+ @agent.agentCode)'>@agent.agentCode</a></td>
                <td>@agent.name</td>
                <td>@agent.workingArea</td>
                <td>@agent.commission</td>
                <td>@agent.phoneNumber</td>
            </tr>
            
        }


    </table>

    <style>
        table {
            width: 100%;
        }

        tr {
            border: solid gray 1px;
            border-left: 0px;
            border-right: 0px;
        }

        td, th
        {
            padding: 10px;
        }

    </style>

    
</div>